<!-- Page for the individual courses. Will go based on course code -->

<!--	<ng-include src="starCtrl.js"></ng-include>		-->

<div class="row">
	 <div class="col-sm-12">
		<h1>{{course.title}}</h1>
	</div>
	<div class="col-sm-6" id="course-info">
		<h2>{{course.code}} {{course.title}}</h2>
		<p>{{course.info}}</p>
		<p>Poäng: {{course.credits}}</p>
		<p>Nivå: {{course.level}}</p>
		<p>Länk: <a href={{course.href}}>{{course.href}}</a></p>
	</div>

	<div class="col-sm-6" id="your-run">
		<h2>Your experiences</h2>
		Year: <input type="text"></input><br>
		<input type="checkbox" name="1" value="1">P1
		<input type="checkbox" name="2" value="2">P2
		<input type="checkbox" name="3" value="3">P3
		<input type="checkbox" name="4" value="4">P4
		<br>Teacher: <input type="text"></input>
		
		<div class="col-sm-12" id="course-rating" style="padding:10px">
			<h4>Your rating: &#9733; &#9733; &#9733; &#9734; &#9734;</h4>
			<h4>Average rating: &#9733; &#9733; &#9734; &#9734; &#9734;</h4>
		</div>
	</div>

	
</div>


<div>
    <h4>Leave a Comment:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<hr>

<!-- Comment -->
<div class="row">
	<div class="col-sm-6">
	    <a class="pull-left" href="#">
	        <img class="media-object" src="http://placehold.it/64x64" alt="">
	    </a>
	    <div class="media-body">
	        <h4 class="media-heading" style="padding:10px">Student, i guess...
	            <small>August 25, 2014 at 9:30 PM</small>
	        </h4>
	        It was okay
	    </div>
	</div>
</div>

<div class="row">	
	<div class="col-sm-6">
	    <a class="pull-left" href="#">
	        <img class="media-object" src="http://placehold.it/64x64" alt="">
	    </a>
	    <div class="media-body">
	        <h4 class="media-heading" style="padding:10px">I'm a student!
	            <small>August 25, 2014 at 9:30 PM</small>
	        </h4>
	        It was horrible.
	        <!-- Nested Comment -->
	        <div class="media">
	            <a class="pull-left" href="#">
	                <img class="media-object" src="http://placehold.it/64x64" alt="">
	            </a>
	            <div class="media-body">
	                <h4 class="media-heading" style="padding:10px">I'm also a student
	                    <small>August 25, 2014 at 9:30 PM</small>
	                </h4>
	                 it was awesome
	            </div>
	        </div>
	        <!-- End Nested Comment -->
	    </div>
	</div>

</div>