<ng-include></ng-include>

<!-- TODO generate based on output from  
http://www.kth.se/api/kopps/v2/departments.en.json -->

	<div class="row">
	    
	      	<a ng-href="#/department/{{department.code}}" class="btn btn-info" ng-repeat="department in departments" style="margin:20px">
		    	<h4>{{department.name}}</h4>
			</a>
<!--	    </div>

	    <div class="col-sm-4">
	     	<a ng-href="#/courselist/" class="btn btn-primary">
		    	<h2>Medieteknik</h2>
			</a>
	    </div>
	    <div class="col-sm-4">
	      	<a ng-href="#/courselist/" class="btn btn-info">
		    	<h2>Flyg</h2>
			</a>
	    </div>
	 </div>

	<div class="row" style="margin-top:50px">
	    <div class="col-sm-4">
	      	<a ng-href="#/courselist/" class="btn btn-primary">
		    	<h2>Kemi</h2>
			</a>
	    </div>
	    <div class="col-sm-4">
	     	<a ng-href="#/courselist/" class="btn btn-info">
		    	<h2>Fysik</h2>
			</a>
	    </div>
	    <div class="col-sm-4">
	      	<a ng-href="#/courselist/" class="btn btn-primary">
		    	<h2>Datalogi</h2>
			</a>
	    </div>	-->
	 </div>
